@font-face {
  font-family: 'Gilroy';
  src: url("/fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("/fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilroy-Regular.woff2") format("woff2"), url("/fonts/Gilroy-Regular.woff") format("woff"), url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("/fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("/fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilroy-Medium.woff2") format("woff2"), url("/fonts/Gilroy-Medium.woff") format("woff"), url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("/fonts/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("/fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilroy-Semibold.woff2") format("woff2"), url("/fonts/Gilroy-Semibold.woff") format("woff"), url("/fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("/fonts/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("/fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilroy-Extrabold.woff2") format("woff2"), url("/fonts/Gilroy-Extrabold.woff") format("woff"), url("/fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("/fonts/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("/fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilroy-Black.woff2") format("woff2"), url("/fonts/Gilroy-Black.woff") format("woff"), url("/fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --main-text-color: #272525;
  --secondary-text-color: #454747;
  --white-text-color: #ffffff;
  --main-bg-color: #ffffff;
  --accent-bg-color: linear-gradient(42.14deg, #9796f0 -17.31%, #fbc7d4 106.72%);
  --main-accent-color: #3c336c;
  --secondary-accent-color: #1fab8a;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.d-flex {
  display: flex;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gilroy', sans-serif;
  color: var(--main-text-color);
  margin: 0;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.21;
}

p {
  font-size: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  padding: 0;
}

input[type='checkbox'] {
  margin: 0;
}

textarea {
  outline: none;
}

.container {
  width: 1630px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  min-width: 280px;
  border-radius: 60px;
  padding: 19px 57px;
  text-align: center;
}

.btn--dark {
  background-color: var(--main-text-color);
  color: var(--white-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--dark:hover, .btn--dark:focus {
  box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
}

.btn--light {
  margin-left: 29px;
  background-color: #eef1f6;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--light:hover, .btn--light:focus {
  box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
}

.form-field {
  position: relative;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  color: var(--secondary-text-color);
  transition: transform 250ms ease;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
}

.form__input:focus-within + .form-label,
.form__input:not(:placeholder-shown) + .form-label {
  transform: translateY(-30px) translateX(-20px);
}

.form__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #272525;
  width: 336px;
  outline: none;
  padding: 2px 2px 2px 30px;
  color: var(--secondary-accent-color);
}

.form__input:invalid {
  color: #ff7777;
}

.form__input:focus-within:not(:placeholder-shown):valid + .form-label {
  color: var(--secondary-accent-color);
}

.form__input:focus-within:not(:placeholder-shown):invalid + .form-label {
  color: #ff7777;
}

.form__input:focus-within:not(:placeholder-shown):valid ~ .form-icon {
  fill: var(--secondary-accent-color);
}

.form__input:focus-within:not(:placeholder-shown):invalid ~ .form-icon {
  fill: #ff7777;
}

.form-field {
  margin-left: 74px;
}

.form-field:first-child {
  margin-left: 0;
}

.form__btn {
  margin-left: 107px;
  border: none;
  color: var(--white-text-color);
  background-color: var(--secondary-accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  padding: 19px 103px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn:hover, .form__btn:focus {
  box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
}

.checkbox-icon {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  margin-right: 10px;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-mark {
  transform: scale(2);
  transition: transform 250ms ease, opacity 250ms ease;
  opacity: 0;
}

.checkbox:checked ~ .checkbox-mark {
  background-image: url(/images/checkmark.svg);
  background-size: cover;
  transform: scale(1);
  width: 15px;
  height: 15px;
  position: absolute;
  opacity: 1;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.slider__btn {
  width: 40px;
  height: 40px;
  background-color: #ece7f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.header {
  max-width: 1920px;
  background-image: var(--accent-bg-color);
  margin: 0 auto;
}

.header-top {
  display: flex;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 45px;
}

.logo {
  display: flex;
}

.header-top__search {
  margin-left: 64px;
  position: relative;
}

.header-top__search-input {
  width: 491px;
  border: 2px solid var(--main-text-color);
  border-radius: 90px;
  background-color: transparent;
  padding: 18px 28px 18px 69px;
  outline: none;
}

.header-top__search-input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.06;
  color: #8e8e8e;
}

.header-top__icon-search {
  display: block;
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
}

.header-top__tel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 68px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.06;
  color: #eef1f6;
  background-color: var(--secondary-accent-color);
  width: 265px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-top__tel:hover, .header-top__tel:focus {
  background: #309f85;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}

.header-top__icon-user {
  display: flex;
  margin-left: 69px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-top__icon-user:hover, .header-top__icon-user:focus {
  transform: scale(1.2);
}

.header-top__lang {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  margin-left: auto;
}

.header-top__lang--grey {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.06;
  color: #8e8e8e;
}

.header-botton__main {
  display: flex;
  align-items: center;
  position: inherit;
  z-index: 1;
}

.header-botton {
  background-color: rgba(250, 251, 253, 0.44);
  position: relative;
}

.header-botton__nav-list {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.06;
}

.header-botton__nav-item {
  position: relative;
  margin-left: 70px;
}

.header-botton__nav-item:first-child {
  margin-left: 0;
}

.header-botton__nav-link {
  display: block;
  padding-top: 41px;
  padding-bottom: 40px;
  text-align: center;
}

.current {
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  background: #272525;
  box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
  border-radius: 6px;
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 8px;
  background: #272525;
  border-radius: 6px;
  position: absolute;
  bottom: -18px;
  left: 0;
}

.header-botton__discount {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 48px;
  line-height: 1.23;
  text-transform: lowercase;
  color: var(--main-accent-color);
  margin-left: 50px;
}

.header-botton__bg-bugs {
  position: absolute;
  top: 0;
  right: 0;
}

.hero {
  max-width: 1920px;
  background-image: var(--accent-bg-color);
  margin: 0 auto;
  background-size: 1920px 860px;
  background-repeat: no-repeat;
}

.hero__section {
  display: flex;
}

.hero__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 75px;
}

.hero__description {
  line-height: 1.3;
  letter-spacing: 0.065em;
  width: 620px;
  margin-top: 10px;
}

.quality__list {
  display: flex;
  margin-top: 58px;
}

.quality__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  margin-left: 12px;
}

.quality__item:first-child {
  margin-left: 0px;
}

.quality__item:nth-child(2) .quality__icon {
  animation-delay: 2000ms;
}

.quality__item:nth-child(3) .quality__icon {
  animation-delay: 4000ms;
}

.quality__icon {
  animation: qualityRotate 15000ms linear infinite 250ms;
}

@keyframes qualityRotate {
  0% {
    transform: rotate(0deg);
    transform-origin: 45% 45%;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: 45% 45%;
  }
}

.quality__text {
  margin-top: 9px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
}

.hero__photo {
  margin-left: 40px;
  position: relative;
  bottom: -25px;
}

.section-popular {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 130px;
  background-image: url(/images/popular-bg.png);
  background-position: center;
  background-size: 1920px 860px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.section-popular__title {
  display: flex;
  position: relative;
}

.title__icon-star--main {
  margin-left: 28px;
  position: absolute;
  right: 80px;
  top: 0;
}

.title__icon-star {
  margin-left: 28px;
  animation: puls 1000ms linear infinite;
}

@keyframes puls {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.section-popular__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-popular__text {
  margin-top: 1px;
  line-height: 1.3;
  letter-spacing: 0.065em;
  text-transform: lowercase;
  color: var(--secondary-text-color);
}

.section-popular__icon-arrow {
  margin-left: 20px;
}

.section-popular__wrapper-1 {
  display: flex;
  margin-top: 30px;
}

.section-popular__wrapper-2 {
  position: relative;
  margin-left: 17px;
}

.section-popular__wrapper-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.section-popular img {
  border-radius: 15px;
}

.section-popular__basket {
  position: absolute;
  top: -35px;
  right: 0;
  display: flex;
  align-items: center;
}

.basket__text {
  position: relative;
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.06;
  text-decoration-line: underline;
  padding: 28px 18px;
  background: #fafafa;
  box-shadow: 0px 16.0566px 22px -8px rgba(82, 73, 131, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
  border-radius: 16px;
}

.basket__link {
  margin-left: 20px;
  color: var(--secondary-accent-color);
}

.basket__close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -7px;
  right: -5px;
  border: none;
  background-color: transparent;
}

.basket__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 99px;
}

.basket__icon {
  background: rgba(31, 171, 138, 0.36);
  border-radius: 50%;
}

.basket__bg {
  position: relative;
  width: 70px;
  height: 70px;
  background: #1fab8a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basket__bg:after {
  content: '3';
  width: 19px;
  height: 19px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.basket__price {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__text {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;
  line-height: 1.06;
  color: #000000;
  margin-top: 6px;
}

.creative {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 84px;
  position: relative;
  min-height: 673px;
  overflow: hidden;
}

.creative__title {
  display: flex;
  font-family: 'Pangolin';
  font-weight: 400;
  font-size: 70px;
  line-height: 1.24;
  transform: rotate(-2.35deg);
  margin-left: 195px;
}

.creative__title--color:nth-child(1) {
  color: #c62e2a;
}

.creative__title--color:nth-child(2) {
  color: #64a7de;
}

.creative__title--color:nth-child(3) {
  color: #333b8b;
}

.creative__title--color:nth-child(4) {
  color: #5a308c;
}

.creative__title--color:nth-child(5) {
  color: #272425;
}

.creative__title--color:nth-child(6) {
  color: #cb2229;
}

.creative__title--color:nth-child(7) {
  color: #fff12d;
}

.creative__title--color:nth-child(8) {
  color: #309f85;
}

.creative__after-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.21;
  margin-top: 22px;
}

.creative__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.065em;
  margin-top: 23px;
  width: 592px;
}

.creative__list {
  display: flex;
  margin-top: 44px;
}

.creative__photo {
  position: absolute;
  bottom: 0;
  transform: translateX(260%);
  transition: opacity 500ms ease, transform 1000ms ease;
  opacity: 0;
}

.creative:hover .creative__photo {
  transform: translateX(830px);
  opacity: 1;
}

.wrapper {
  display: flex;
}

.order {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 32px;
  position: relative;
}

.section-order {
  display: flex;
}

.section-order::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 83px;
  width: 285px;
  height: 285px;
  border-radius: 50%;
  background: #eef1f6;
  box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
  z-index: -1;
}

.section-order::after {
  position: absolute;
  bottom: 0;
  left: 850px;
  content: '';
  display: block;
  width: 101px;
  height: 101px;
  border-radius: 50%;
  background: #eef1f6;
  box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
  z-index: -1;
}

.order__descr {
  margin-left: 39px;
}

.order__after-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  margin-top: 47px;
  width: 826px;
}

.order__text {
  line-height: 1.3;
  letter-spacing: 0.065em;
  color: var(--secondary-text-color);
  margin-top: 30px;
}

.order__list {
  margin-top: 43px;
}

.order__item {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  background: linear-gradient(38.95deg, #9796f0 -10.38%, #ffe0e8 107.56%);
  box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
}

.order__item:first-child {
  margin-left: 0;
}

.order__arrow {
  margin-left: 30px;
}

.examples__btn {
  margin-left: 9px;
}

.examples__btn:first-child {
  margin-left: 0;
}

.arrow-btn {
  display: flex;
  border: none;
  background-color: transparent;
}

.arrow__number {
  margin-left: 9px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.06;
  color: #7981ad;
}

.ideas {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 155px;
  padding-bottom: 102px;
  background-image: url(/images/ideas-bg.png);
  background-position: center;
  background-size: 1920px 730px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.ideas-container {
  position: relative;
}

.ideas__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  width: 556px;
}

.ideas__after-title {
  margin-top: 17px;
  width: 556px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.065em;
}

.ideas__icons {
  display: flex;
  position: absolute;
  right: 0;
  top: -136px;
}

.first-rocket {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 120px;
}

.icon-lamp {
  margin-right: 94px;
}

.form__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.21;
  margin-top: 93px;
  width: 556px;
  margin-bottom: 27px;
}

.form__wrapper {
  display: flex;
  align-items: center;
}

.ideas:hover .rocket--left {
  transform: translateY(-400px) translateX(-200px);
  transition: transform 60000ms linear;
}

.ideas:hover .rocket--right {
  transform: translateY(-400px) translateX(200px);
  transition: transform 100000ms linear;
}

.cooperate {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 103px;
  padding-bottom: 132px;
}

.cooperate__title {
  margin-bottom: 72px;
}

.cooperate__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cooperate__item {
  margin-left: 120px;
}

.cooperate__item:first-child {
  margin-left: 0;
}

.cooperate__slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__btn--left {
  margin-right: 45px;
}

.slider__btn--right {
  margin-left: 45px;
}

.footer {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 129px;
  padding-bottom: 40px;
  background-image: url(/images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.footer__wrapper {
  display: flex;
}

.footer__title {
  line-height: 1.3;
  letter-spacing: 0.065em;
  margin-top: 15px;
  margin-bottom: 40px;
}

.footer__tel {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
}

.footer__mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-decoration-line: underline;
}

.social-icon {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.social-icon__item {
  margin-left: 22px;
}

.social-icon__item:first-child {
  margin-left: 0;
}

.footer__category {
  margin-left: 171px;
  font-size: 20px;
  line-height: 1.8;
}

.footer__info {
  margin-left: 135px;
  font-size: 20px;
  line-height: 1.8;
}

.footer__form {
  margin-left: 218px;
  width: 270px;
}

.footer-nav {
  margin-top: 10px;
}

.footer-nav:first-child {
  margin-top: 0;
}

.footer-nav__link {
  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav__link:hover, .footer-nav__link:focus {
  font-weight: 600;
}

.footer-form__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.8;
}

.footer-form__text {
  font-size: 14px;
  line-height: 1.64;
  color: #8f90a6;
  margin-bottom: 23px;
}

.form-input {
  width: 100%;
  background: #ffffff;
  border: 2px solid #272525;
  border-radius: 15px;
  padding: 15px;
}

.footer-form__btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #524983;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 12px;
}

.form-contact {
  display: flex;
  position: relative;
  height: 54px;
}
/*# sourceMappingURL=main.css.map */