.cooperate {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 103px;
  padding-bottom: 132px;
}

.cooperate__title {
  margin-bottom: 72px;
}

.cooperate__list {
  @include centered();
  justify-content: center;
}

.cooperate__item {
  margin-left: 120px;

  &:first-child {
    margin-left: 0;
  }
}

.slider {
  @include centered();
  justify-content: center;
}

.slider__btn {
  @include centered();
  width: 40px;
  height: 40px;
  background-color: #ece7f0;
  border-radius: 50%;
  justify-content: center;
  border: none;
  transition: background-color 250ms ease;

  &:hover,
  &:focus {
    background-color: rgb(218, 218, 253);
  }
}

.slider__btn--left {
  margin-right: 45px;
}

.slider__btn--right {
  margin-left: 45px;
}
