.header {
  max-width: 1920px;
  background-image: var(--accent-bg-color);
  margin: 0 auto;
}

.header-top {
  @include centered();
  padding-top: 44px;
  padding-bottom: 45px;
}

.logo {
  display: flex;
}

.search {
  margin-left: 64px;
  position: relative;
}

.search__input {
  width: 491px;
  border: 2px solid var(--main-text-color);
  border-radius: 90px;
  background-color: transparent;
  padding: 18px 28px 18px 69px;
  outline: none;

  &::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.06;
    color: #8e8e8e;
  }
}

.search__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
}

.header-top__tel {
  @include centered();
  justify-content: center;
  margin-left: 68px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.06;
  color: #eef1f6;

  background-color: var(--secondary-accent-color);
  width: 265px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #309f85;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  }
}

.header-top__icon-user {
  display: flex;
  margin-left: 69px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.lang {
  @include centered();
  font-weight: 600;
  font-size: 18px;
  margin-left: auto;
}

.lang--noactive {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.06;
  color: #8e8e8e;
}
