.header-botton {
  @include centered();
  position: inherit;
  z-index: 1;
}

.header-botton--bg {
  background-color: rgba(250, 251, 253, 0.44);
  position: relative;
}

.nav {
  @include centered();

  font-weight: 600;
  font-size: 18px;
  line-height: 1.06;
}

.nav__item {
  position: relative;
  margin-left: 70px;

  &:first-child {
    margin-left: 0;
  }
}

.nav__link {
  display: block;
  padding-top: 41px;
  padding-bottom: 40px;
  text-align: center;
}

.current {
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  background: #272525;
  box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1),
    0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
  border-radius: 6px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    background: #272525;
    border-radius: 6px;
    position: absolute;
    bottom: -18px;
    left: 0;
  }
}

.discount {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 48px;
  line-height: 1.23;
  text-transform: lowercase;
  color: var(--main-accent-color);
  margin-left: 50px;
}

.bg-bugs {
  position: absolute;
  top: 0;
  right: 0;
}
